// .container {
//     display: flex;
//     flex-direction: column;
//     width: auto;
//     flex-basis: 72%;
//     margin-top:1rem;
// }
  
//   .bloc-tabs {
//     display: flex;
//   }

//   .tabs {
//     padding: 2px;
//     width: 10%;
//     cursor: pointer;
//     // border-bottom: 1px solid $primary;
//     box-sizing: content-box;
//     position: relative;
//     outline: none;
//   }

//   .tabs:not(:last-child){
//     border-right: 1px solid $secondary;
//   }
//   .active-tabs.tabs:last-child{
//       border-right:1px solid $secondary;
//   }
  
//   .active-tabs  {
//     background: #fff;
//     border-bottom: 1px solid transparent;
//   }
  
//   .active-tabs::before {
//     content: "";
//     display: block;
//     position: absolute;
//     top: -1px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: calc(100% + 2px);
//     height: 1px;
//     background-color:$secondary;
//   }
  
//   .tabs{
//     border: none;
//     display: flex;
//     text-indent: 12px;
//     font-size: 12px;
//     text-transform: uppercase;
//     letter-spacing: 0.048rem;
//     font-family: $font-montserrat;
//     color:$dark;    
//   }
  
//   .content-tabs {
//     flex-grow : 1;
//     .content{
//         font-family: $font-poppins;
//         font-size: 12px;
//     }
//   }
//   .content {
//     width: 100%;
//     height: 100%;
//     display: none;
//   }
//   .content h2 {
//     padding: 0px 0 5px 0px;
//   }
//   .content hr {
//     // width: 100%;
//     height: 1px;
//     background-color: $write;
//     margin-bottom: 5px;
//   }
//   .content p {
//     width: 100%;
//     height: 100%;
//   }
//   .active-content {
//     display: block;
//   }


// .activities{
//   // border:1px solid red;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     padding:2.4rem;
//     .activity{
//         // border:1px solid red;
//         height: 92%;
//         margin:auto 18%;
//         .theContent{
//             background-color: #EFF8FA64;
//             height: 80%;
//             display: flex;
//             flex-direction: column;
//             padding:32px;
//             font-family: $font-poppins;
//             font-size: 12px;
//             text-align: justify;
//             margin-bottom:0;
//             color:$write;
//             p{
//                 &:first-of-type{
//                     // color:red;
//                     text-indent: 1.5rem;
//                 }
//             }
//         }
//         .activity-footer{
//         // border:2px solid red;
//             ul{
//                 margin-block-end: 0;
//                 margin-block-start: 0;
//                 background-color: $secondary;
//                 list-style-type:none;
//                 justify-content: space-evenly;
//                 padding-inline-start: 0;
//                 display: flex;
//                 font-family: $font-poppins;
//                 font-size: 10px;
//                 letter-spacing: 0.024rem;
//                 li{
//                     margin:auto 1rem auto 0;    
//                     // font-style: italic;
//                     color:$write;
//                     // color:red;
//                 }
//             }
//         }
//     }
// }

table tr{
    border:1px solid $secondary;
    padding:2px;
}

table tr td, table thead{
    border-bottom:1px solid $secondary;
    padding: 6px;
}

table thead td{
    font-weight: bolder;    
}

table tr:nth-child(2n+1){
    background-color: $primary;
}

table tr td:nth-of-type(2)
{
    // background-color: red;
    text-indent: 1rem;
}